.welcome {
    font-family: monospace;
}

#home {
    text-align: justify;
    padding-top: 60%;
    padding-left: 5%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.Download-CV{
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 240px;
}


header {
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
}


/* Apply to the body or main container of your sections */
html, body {
    height: 100%; /* Full height */
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Disable scroll on the body */
}

/* This is the container that will actually scroll */
.scroll-container {
    height: 100vh; /* Full viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable scroll snapping on the y-axis */
}

/* Each section will snap and fill the screen */
section {
    height: 100vh; /* Full viewport height */
    scroll-snap-align: start; /* Align the start of each section with the scroll container's start */
    width: 100%; /* Ensure sections fill the width */
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Center content horizontally */
    position: relative;
}

#portrait {
    position: absolute;
    bottom: 25px;
    right: 0;
    margin-right: 50px;
    margin-bottom: 0px;
    width: 37%;
    height: 77%;
}


.skills-container {
    display: inline-block;
    padding-left: 7%;
}

.skill {
    margin-bottom: 20px;
    display: inline-block;
    width: 40%;
    padding-right:30px;
}

.skill-name {
    font-size: 18px;
    margin-bottom: 10px;
}

.progress-bar {
    background: #e0e0e0;
    position: relative;
    overflow: hidden;
    height: 5px;
    
}

.progress {
    background: #c28162b2;
    height: 5px;
    width: 0; /* Start with width 0 */
    transition: width 4.5s ease-in-out; /* Animation duration and effect */
}

#skills-and-chart {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.pie-chart-container {
    margin-top: 50px;
    max-width: 78%;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
}

.pie-chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

#projects-container {
    display: inline-block;
    justify-content: center; /* Adjust as needed to control spacing */
    align-items: center;
    box-sizing: border-box; /* Ensures padding and borders are included in the total width */
}

.project-section {
    background-color: #ffffff; /* Adjust the background color as needed */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1%;
    padding: 15px;
    text-align: justify;
    box-sizing: border-box; /* Ensures padding and borders are included in the total width */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform and background color */
}

.project-section:hover {
    transform: scale(1.1); /* Slightly increase the size */
    background-color: #f0f0f0; /* Change the background color on hover */
}

.project-section h2 {
    font-size: 20px; /* Adjust as needed */
    margin-bottom: 10px;
}

.project-section p {
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 10px;
}

.project-section a {
    display: inline-block; /* Ensures the link is displayed as a block element */
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background-color: #9b7e71;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.project-section a:hover {
    background-color: #9b7e71c9; /* Change background color on hover */
}

#achievements-container {
    display: inline-block;
    justify-content: space-around; /* Adjust as needed to control spacing */
    box-sizing: border-box; /* Ensures padding and borders are included in the total width */
}

.achievement {
    background-color: #ffffff; /* Adjust the background color as needed */
    border-radius: 8px;
    box-sizing: border-box; /* Ensures padding and borders are included in the total width */
    padding-left: 5%;
    margin-top: 0px;
}

.achievement p {
    font-size: 16px; /* Adjust as needed */
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    vertical-align: middle;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}