<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>   
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>

        <div class="scroll-container">

            <section id="welcome-section">

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#welcome-section" onclick="closeNav()">Home</a>
                    <a href="#skills-section" onclick="closeNav()">My Skills</a>
                    <a href="#project-section" onclick="closeNav()">Project Gallery</a>
                    <a href="#achievement-section" onclick="closeNav()">Achievements</a>
                    <a href="#certificate-section" onclick="closeNav()">Certifications</a>
                </div>
            
                <div style="padding-top: 5%;">
                    <span class="nav-open" onclick="openNav()">&#9776;</span>
                </div>
                <div class="welcome-container">
                    <div style="position: relative;">
                        <div class="grey-box"></div> 
                        <img src="/static/img/myself.png" class="portrait">
                    </div>
                
                    <div class="welcome">
                        <p class="welcome-1">Joudy Sabbagh</p>
                        <p class="welcome-2">I'm a <span id="dynamic-part"></span></p>
                        <button class="download-CV">
                            <a href="/static/pdf/CV_JoudySabbagh.pdf" download="CV_JoudySabbagh" class="textCV">Download CV</a>
                        </button>
                    </div>
                </div>
                

            </section>

            <section id="skills-section">

                <h2 class="title-sections">Skills</h2>

                <div id="skills-and-chart">

                    <div class="skills-container">
                        <p class="skills-type">Technical skills:</p>
                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/pythonlogo.png" class="skill-img" alt="python logo">
                                <div class="skill-name">Python </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress" data-percentage="90"></div>
                            </div>
                        </div>

                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/c++logo.png" class="skill-img" alt="c++ logo">
                                <div class="skill-name">C++ </div>
                            </div>                        
                            <div class="progress-bar">
                                <div class="progress" data-percentage="75"></div>
                            </div>
                        </div>

                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/numpy.png" class="skill-img" alt="Numpy logo">
                                <div class="skill-name">Numpy </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress" data-percentage="60"></div>
                            </div>
                        </div>

                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/microsoftAzure.png" class="skill-img" alt="microsoft azure logo">
                                <div class="skill-name">Microsoft Azure </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress" data-percentage="55"></div>
                            </div>
                        </div>

                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/jslogo.png" class="skill-img" alt="JavaScript logo">
                                <div class="skill-name">JavaScript </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress" data-percentage="40"></div>
                            </div>
                        </div>

                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/htmlLogo.png" class="skill-img" alt="html logo">
                                <div class="skill-name">HTML</div>
                            </div>
                                <div class="progress-bar">
                                <div class="progress" data-percentage="90"></div>
                            </div>
                        </div>

                        <div class="skill">
                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                <img src="/static/img/csslogo.png" class="skill-img" alt="css logo">
                                <div class="skill-name">CSS</div>
                            </div>
                                <div class="progress-bar">
                                <div class="progress" data-percentage="90"></div>
                            </div>
                        </div>

                    </div>  

                    <div class="pie-chart-container">
                        <p class="skills-type">Soft skills:</p>
                            <canvas id="softSkillsChart" ></canvas>
                    </div>

                </div>

            </section>

            <section id="project-section">

                <h2 class="title-sections">Project Galery</h2>
                
                <div id="projects-container">

                    <div id="project-container">
                    <h3 class="project-name">Chat-Room</h3>
                    <p class="project-desc">Provides a real-time communication platform where users can create or join chat rooms, send encrypted messages, and view message histories, an ideal tool for confidential discussions and collaborations.</p>
                    <button class="project-btn">
                        <a href="/chatroom" class="project-link">Try Chat-Room</a>
                    </button>
                    </div>

                    <div id="project-container">
                    <h3 class="project-name">Cryptool</h3>
                    <p class="project-desc">Offers various encryption and decryption tools, including implementations of the Hill Cipher, Playfair Cipher and more, allowing users to experiment with different cryptographic techniques.</p>
                    <button class="project-btn">
                        <a href="/cryptool" class="project-link">Try Cryptool</a>
                    </button>
                    </div>

                    <div id="project-container">
                    <h3 class="project-name">Job Matcher</h3>
                    <p class="project-desc">Utilizes machine learning to match job descriptions with candidate profiles, providing tailored job recommendations. It streamlines the job search by aligning candidate skills with job requirements.</p>
                    <button class="project-btn">
                        <a href="https://colab.research.google.com/drive/1o1ODaSZSyezNmcrxqzH2A2a2QqpPjll1?usp=sharing" class="project-link">View Source Code</a>
                    </button>
                    </div>

                </div>
            
            </section>
            
            
        
        
            <section id="achievement-section">

                <h2 class="title-sections">Achievements</h2>

                <div class="achievement-container">
                    
                <div class="achivement">
                    <h3 class="achievement-name">Hackathon Winner</h3>
                    <p class="achievement-desc">Participated in an international hackathon competition bringing over 17 Arab country representatives and won first place alongside an amazing team. To know more details about the hackathon, it is <a href="https://www.youtube.com/watch?v=OvrQjolMJ7E">available here.</a></p>
                    <img src="/static/img/hackathon.jpg" alt="Hackathon Winner" class="achievement-img" alt="Coding4Integrity hackathon: Winning moment">
                </div>
                <div class="achivement">
                    <h3 class="achievement-name">Beyond an Engineer: Best Idea Award</h3>
                    <p class="achievement-desc">We attended workshops on topics like CV writing and internships, entrepreneurship, pitching and presentations, social entrepreneurship, and technical skills, we worked on a startup idea and won the award for best startup idea.</p>
                    <img src="/static/img/beyondengineer.png" alt="Beyond an Engineer"  class="achievement-img" alt="Beyond an Engineer: Winning moment">
                </div>
                </div>

            </section>





            <section id="certificate-section">

                <h2 class="title-sections" style="padding-left: 5%;">Certifications</h2>

                <div class="slideshow-container">

                    <div class="mySlides fade">
                      <div class="numbertext">1 / 10</div>
                      <img src="/static/img/amazonbootcamp.PNG" class="carousel-img" alt="certificate of completion for attending 3 day bootcamp by amazon in machine learning (spring 2024)">
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 10</div>
                        <img src="/static/img/outdoors_2024.png" class="carousel-img" alt="certificate of participation in AUB outdoors as an organizer (may 2024)">
                      </div>
                  
                    <div class="mySlides fade">
                      <div class="numbertext">3 / 10</div>
                      <img src="/static/img/DDD_appreciation.png" class="carousel-img" alt="certificate of appreciation in recognition of a record of outstanding accomplishments during one year of participation in the DDD community (spring 2024)">
                    </div>
                  
                    <div class="mySlides fade">
                        <div class="numbertext">4 / 10</div>
                        <img src="/static/img/180DC_workshop.png" class="carousel-img" alt="certificate of participation for attending consulting workshop (fall 2023)">
                    </div>
                  
                    <div class="mySlides fade">
                      <div class="numbertext">5 / 10</div>
                      <img src="/static/img/outdoors_2023.png" class="carousel-img" alt="certificate of participation in AUB outdoors as an organizer (may 2023)">
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">6 / 10</div>
                        <img src="/static/img/coursera-blockchain.png" class="carousel-img" alt="Certificate of completion for 'Introduction to Blockchain for Financial Services' (feb 13,2023)">
                      </div>

                    <div class="mySlides fade">
                        <div class="numbertext">7 / 10</div>
                        <img src="/static/img/coursera-problemsolving.png" class="carousel-img" alt="Certificate of completion for 'Java Programming: Solving Problems with Software' (aug 22,2020)">
                      </div>

                    <div class="mySlides fade">
                        <div class="numbertext">8 / 10</div>
                        <img src="/static/img/courseraHTML-JS-CSS.png" class="carousel-img" alt="Certificate of completion for 'Programming Foundations with JavaScript, HTML, and CSS' (may 17,2020)">
                    </div>
                  
                    <div class="mySlides fade">
                      <div class="numbertext">9 / 10</div>
                      <img src="/static/img/future_dev.png" class="carousel-img" alt="certificate of completion of the future developer summer program at the american university of beirut (july31-aug4 2017)">
                    </div>
                    
                    <div class="mySlides fade">
                        <div class="numbertext">10 / 10</div>
                        <img src="/static/img/business.png" class="carousel-img" alt="certificate of achievement for successful completion of 'business enterprise and 21st century skills (12/08/2016)' ">
                      </div>
                  
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                  
                  </div>
                  <br>
                  
                  <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                    <span class="dot" onclick="currentSlide(5)"></span> 
                    <span class="dot" onclick="currentSlide(6)"></span> 
                    <span class="dot" onclick="currentSlide(7)"></span> 
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                    <span class="dot" onclick="currentSlide(10)"></span>

                  </div>
                  
                </div>

            </section>

        <!--
        <section id="readings">
            <h2>Reading Archive</h2>
            <a href="/readings"><button>See Readings</button></a> 
        </section>

        -->

        </div>
    </main>
</body>
</html>
